<dom-module id="card-styler">
  <template id="card-styles">
    <style >
      :host {
        box-shadow: 0 0 10px 0 #333;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .flip-card,
      .match-card,
      .superhero-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .breathe {
        min-height: 0.5rem;
        font-size: x-large;
        width: 100%;
      }
      .alter-ego,
      .rear,
      .superhero-name {
        width: 100%;
      }
      .responsive-cover-image-portrait {
        width: calc(100vw/3);
        max-width: 100%;
        min-height: calc((9/16)*(100vw / 3));
        max-height: calc((9/16)*(100vw / 3));
        height: calc((9/16)*(100vw / 3));
        object-fit: contain;
      }
      img {
        max-width: 100%;
      }
      figure {
        min-width: 100%;
        max-width: 100%;
        margin: 1rem auto 0.25rem;
      }
      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        align-items: flex-end;
        width: 100%;
        padding-top: 0.5rem;
      }
      .caption-header {
        width: 100%;
        text-align: center;
        height: 2rem;
        min-height: 2rem;
        font-size: small;
        margin: 0;
        line-height: 1;
        color: #edd8d8;
        font-family: "Cinzel Decorative",cursive,sans-serif;
      }
      @media screen and (min-width:765px) {
        .responsive-cover-image-portrait {
          width: calc(83vw/4);
          min-height: calc((9/16)*(83vw / 4));
          height: calc((9/16)*(83vw / 4));
          max-height: calc((9/16)*(83vw / 4));
        }
        .caption-header {
          font-size: large;
          height: 2.5rem;
          min-height: 2.5rem;
        }
      }

      @media screen and (min-width:1020px) {
        .responsive-cover-image-portrait {
          width: calc(75vw/6);
          min-height: calc((9/16)*(75vw / 6));
          height: calc((9/16)*(75vw / 6));
          max-height: calc((9/16)*(75vw / 6));
        }
        figcaption {
          justify-content: center;
        }
        .caption-header {
          font-size: medium;
          min-height: 3rem;
          height: 3rem;
          padding: 0 0.25rem;
        }
      }
    </style>

  </template>
</dom-module>