<dom-module id="match-card">
  <template id="superhero-match-card">
    <style include="card-styler"></style>
    <article class="match-card">
      <section class="alter-ego">
        <figure>
          <picture>
            <source srcset="{{superhero.cover.src}}-medium.{{superhero.cover.format}} 640w,
{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-small.{{superhero.cover.format}} 480w" media="(max-width:764px)" sizes="25vw">
            <source
              srcset="{{superhero.cover.src}}-medium.{{superhero.cover.format}} 640w,
{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-x-large.{{superhero.cover.format}} 1280w"
              media="(min-width:765px)"
              sizes="calc((83vw) / 4)">
            <source
              srcset="{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-xx-large.{{superhero.cover.format}} 1600w,
{{superhero.cover.src}}-x-large.{{superhero.cover.format}} 1280w"
              media="(min-width:1020px)"
              sizes="calc((75vw) / 6)">
            <img class="match-cover responsive-cover-image-portrait" src="[[superhero.cover.src]]-small.{{superhero.cover.format}}" alt="{{superhero.cover.alt}}">
          </picture>
          <figcaption>
            <h2 class="caption-header">[[superhero.alias]]</h2>
          </figcaption>
        </figure>
      </section>
    </article>
  </template>
  <script>
    class matchCard extends Polymer.Element {
      constructor(superhero) {
        super();
        this.superhero = superhero;
      }
      static get is() {
        return "match-card";
      }
      static properties() {
        return {
          superhero: {
            type: Object
          }
        };
      }
    }
    window.customElements.define(matchCard.is, matchCard);
  </script>
</dom-module>