<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<dom-module id="notify-card">
  <template id="pop-up">
    <style media="screen">
      :host {
        box-shadow: 0 0 10px 0 #333;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 1em;
      }
      .cmesg,
      .error,
      .info {
        text-align: center;
        padding: 0 !important;
      }
      h2 {
        font-size: large;
        text-align: center;
        width: 100%;
        font-family: "Quicksand",sans-serif;
        color: #333;
      }
      .errorHeader,
      .heading,
      .infoHeader {
        font-size: x-large;
      }
      .errorHeader {
        color: red;
      }
      .infoHeader {
        color: #819d8c;
        font-weight: bold;
      }
      .grandHeader,
      .thumbsUp {
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        line-height: 2;
      }
      .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      .button {
        width: auto;
        max-width: 75px;
      }
      .thumbsUp {
        font-size: 5rem;
        margin: 1rem auto;
      }
      :host > ::slotted(*) {
        padding: 0 1em;
      }
      paper-dialog,
      paper-dialog-scrollable {
        width: 83vw;
        min-width: 81vw;
        min-height: 300px;
      }
    </style>
    <section class="modal">
      <paper-dialog class="modal-dialog" id="modal-dialog" alwaysontop="alwaysOnTop" modal="modal">
        <section class="header">
          <h2 class="heading">Super Hero Mind Map</h2>
        </section>
        <section class="main">
          <template is="dom-if" if="{{error}}">
            <paper-dialog-scrollable>
              <div class="error">
                <h2 class="errorHeader">Psst</h2>
                <h2>
                  <slot></slot>
                </h2>
              </div>
            </paper-dialog-scrollable>
            <slot></slot>
          </template>
          <template is="dom-if" if="{{info}}">
            <paper-dialog-scrollable>
              <div class="info">
                <h2 class="infoHeader">Hey there!</h2>
                <h2>
                  <slot></slot>
                </h2>
              </div>
            </paper-dialog-scrollable>
            <slot></slot>
          </template>
          <template is="dom-if" if="{{cmesg}}">
            <paper-dialog-scrollable>
              <div class="cmesg">
                <h2 class="grandHeader">Congratulations!</h2>
                <h2 class="thumbsUp">
                  👍 &#128077; &#128077;
                </h2>
                <h2>
                  <slot></slot>
                </h2>
              </div>
            </paper-dialog-scrollable>
            <slot></slot>
          </template>
        </section>
        <section class="footer">
          <div class="buttons">
            <paper-button class="button" dialog-dismiss="dialog-dismiss" autofocus="autofocus" raised="raised" on-tap="dismiss">OK</paper-button>
          </div>
        </section>
      </paper-dialog>
    </section>
  </template>
  <script>
    class notifyCard extends Polymer.Element {
      constructor() {
        super();
      }
      static get is() {
        return "notify-card";
      }
      static get properties() {
        return {
          error: {
            type: Boolean
          },
          info: {
            type: Boolean
          },
          cmesg: {
            type: Boolean
          },
          message: {
            type: String,
            value: ""
          }
        };
      }
      dismiss() {
        return this.root.querySelector("#modal-dialog").close();
      }
      connectedCallback() {
        super.connectedCallback();
        const modal = this.root.querySelector("#modal-dialog");
        modal.center();
        modal.open();
      }
    }
    window.customElements.define(notifyCard.is, notifyCard);
  </script>
</dom-module>