<dom-module id="superhero-styles">
  <template id="superhero-card-styles">
    <style>
      :host {
        box-shadow: 0 0 10px 0 #333;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
      }
      .superhero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      figure,
      img,
      picture {
        max-width: 100%;
      }
      .superhero-cover {
        max-width: 100%;
      }
      figcaption {
        font-size: larger;
      }
    </style>
  </template>
</dom-module>