<!-- <link rel="import" href="superhero-styles.html"> -->
<link rel="import" href="card-styles.html">
<dom-module id="superhero-card">
  <template id="card">
    <custom-style>
      <style media="screen" is="custom-style" include="card-styler"></style>
    </custom-style>
    <article class="superhero-card">
      <section class="superhero-name">
        <figure>
          <picture>
            <source srcset="{{superhero.cover.src}}-medium.{{superhero.cover.format}} 640w,
{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-small.{{superhero.cover.format}} 480w" media="(max-width:764px)" sizes="25vw">
            <source
              srcset="{{superhero.cover.src}}-medium.{{superhero.cover.format}} 640w,
{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-x-large.{{superhero.cover.format}} 1280w"
              media="(min-width:765px)"
              sizes="calc(83vw/4)">
            <source
              srcset="{{superhero.cover.src}}-large.{{superhero.cover.format}} 960w,
{{superhero.cover.src}}-xx-large.{{superhero.cover.format}} 1600w,
{{superhero.cover.src}}-x-large.{{superhero.cover.format}} 1280w"
              media="(min-width:1020px)"
              sizes="calc(75vw/6)">
            <img class="superhero-cover responsive-cover-image-portrait" src="[[superhero.cover.src]]-small.{{superhero.cover.format}}" alt="">
          </picture>
          <figcaption>
            <h2 class="caption-header">[[superhero.name]]</h2>
          </figcaption>
        </figure>
      </section>
    </article>
  </template>
  <script>
    class superheroCard extends Polymer.Element {
      constructor(oSuperHero) {
        super();
        this.superhero = oSuperHero;
      }
      static get is() {
        return "superhero-card";
      }
      static get properties() {
        return {
          superhero: {
            type: Object
          },
          flipped: {
            type: Boolean,
            value: false
          }
        };
      }
    }
    window.customElements.define(superheroCard.is, superheroCard);
  </script>
</dom-module>