<dom-module id="superhero-styles">
  <template id="superhero-card-styles">
    <style>
      :host {
        box-shadow: 0 0 10px 0 #333;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .superhero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      figure,
      img,
      picture {
        max-width: 100%;
        max-height: 100%;
      }
      .superhero-cover {
        max-width: 100%;
      }
      figure {
        min-width: 100%;
        max-width: 100%;
        margin: 1rem auto 0.25rem;
      }
      figcaption {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0.5rem;
      }
      h2 {
        text-align: center;
        height: 2rem;
        font-size: medium;
        margin: 0;
        line-height: 1;
        font-family: "Cinzel Decorative",cursive,sans-serif;
      }
      .responsive-cover-image {
        width: 100%;
      }
      .responsive-cover-image-portrait {
        width: calc(100vw/3);
        max-width: 100%;
        min-height: calc((9/16)*(100vw / 3));
        max-height: calc((9/16)*(100vw / 3));
        height: calc((9/16)*(100vw / 3));
        object-fit: contain;
      }
      .breathe {
        min-height: 0.5rem;
        font-size: x-large;
        width: 100%;
      }
      @media screen and (min-width:765px) {
        .responsive-cover-image-portrait {
          width: calc(83vw/4);
          min-height: calc((9/16)*(83vw / 4));
          height: calc((9/16)*(83vw / 4));
          max-height: calc((9/16)*(83vw / 4));
        }
        h2 {
          font-size: larger;
          height: 2.5rem;
        }
      }
      @media screen and (min-width:1020px) {
        .responsive-cover-image-portrait {
          width: calc(75vw/6);
          min-height: calc((9/16)*(75vw / 6));
          height: calc((9/16)*(75vw / 6));
          max-height: calc((9/16)*(75vw / 6));
        }
        figcaption {
          justify-content: center;
        }
        h2 {
          font-size: large;
          height: 3rem;
          padding: 0 0.25rem;
        }
      }
    </style>
  </template>
</dom-module>