* {
  font-size: medium;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Montserrat",sans-serif;
  line-height: 1;
}

BODY {
  background-color: rgba(0,0,0,0.75);
  margin: auto;
  padding: inherit;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: larger;
  text-align: center;
  color: #edd8d8;
  font-variant: small-caps;
  font-variant-caps: petite-caps;
  line-height: 1.5;
  letter-spacing: 0.25rem;
  font-family: "Cinzel Decorative",cursive ,sans-serif;
  width: 100%;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

main {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  flex-direction: column;
}

.breathe {
  line-height: 5;
  width: 100%;
}

.breath::before,
.breathe::after {
  content: "\00A0";
}

.deck-space,
.statistics {
  width: 100%;
  margin: auto;
}

.statistics {
  display: none;
}

.deck,
.instructions {
  width: 100%;
}

.game-stats {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.highs,
.scorecard {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

,
.highest-score,
.highest-scoring-match,
.matches,
.mismatches,
.scorecard-clock,
.scorecard-game-score,
.scorecard-moves,
.scorecard-number-of-moves,
.scorecard-rating,
.scorecard-stop-clock,
.scorecard-total-score,
.scorecard-user-rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.scorecard-user-rating-stars {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cards-found,
.cards-not-found,
.highest-score-header,
.scorecard-moves-header,
.scorecard-rating-header,
.scorecard-timer-header,
.scorecard-total-score-header {
  font-family: "Quicksand",sans-serif;
  text-decoration: underline;
  line-height: 2;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 33.33%;
  min-width: 33.33%;
  max-width: 33.33%;
  line-height: 1;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}

.clock,
.moves,
.points,
.ratings,
.replay {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.move,
.move-counter,
.player-rating,
.rating,
.replay-game,
.restart,
.stop-clock,
.timer,
.total-user-points,
.user-points {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Quicksand",sans-serif;
  margin: 1rem 0 0;
  align-items: center;
}

.move-count,
.reload,
.reload:hover,
.reload:visited,
.star,
.total-user-points {
  color: #edd8d8;
  cursor: pointer;
  line-height: 0;
}

.reload {
  height: 30px;
}

.reload:hover {
  font-size: large;
}

.move-count {
  font-weight: bold;
  font-size: large;
}

.shuffle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

A,
A:hover,
A:visited {
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

A,
A:visited {
  color: #000;
}

A:hover {
  color: whitesmoke;
}

flip-card,
match-card,
superhero-card {
  display: inline-block !important;
}

.puff-of-score {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 150px;
  width: 90px;
  height: 90px;
  box-shadow: 0 0 10px 0 #333;
  min-height: 90px;
  background-color: #edd8d8;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-effects-transfer {
  border: 3px dotted #edd8d8;
  border-radius: 100px;
}

.current-score {
  color: #000;
}

.attributes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.credit-header {
  width: 100%;
}

.sh-image,
.sh-image-creator,
.sh-image-page {
  width: 33.33%;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sh-image-creator-bio,
.sh-image-creator-bio-header,
.sh-image-link,
.sh-image-link-header,
.sh-name,
.sh-name-header {
  width: 100%;
  font-family: "Quicksand",sans-serif;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #333;
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sh-image-creator-bio-header,
.sh-image-link-header,
.sh-name-header {
  height: auto;
  font-size: larger;
  font-family: "Cinzel Decorative",serif;
}

.credit-image {
  max-width: 100%;
  width: 150px;
}
@media screen and (min-width:765px) {
  .deck-space,
  .meta,
  .statistics {
    width: 83vw;
  }

  .card {
    width: 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .clock,
  .moves,
  .points,
  .ratings,
  .replay {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }

  .shuffle {
    justify-content: center;
    margin-top: -50%;
  }

  .reload {
    margin-top: 0.51rem;
  }

  .highest-score,
  .highest-scoring-match,
  .matches,
  .mismatches,
  .scorecard-clock,
  .scorecard-game-score,
  .scorecard-moves,
  .scorecard-number-of-moves,
  .scorecard-rating,
  .scorecard-stop-clock,
  .scorecard-total-score,
  .scorecard-user-rating {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }

  .highest-score-header,
  .scorecard-moves-header,
  .scorecard-rating-header,
  .scorecard-timer-header,
  .scorecard-total-score-header {
    text-decoration: none;
  }

  .matches,
  .mismatches {
    justify-content: flex-start;
  }
}
@media screen and (min-width:1020px) {
  .deck-space,
  .meta,
  .statistics {
    width: 75vw;
  }

  .card {
    width: calc(75vw / 6);
    min-width: calc(75vw / 6);
    max-width: calc(75vw / 6);
  }

  .shuffle {
    margin-top: -25%;
  }

  .clock,
  .moves,
  .points,
  .ratings,
  .replay {
    width: 33.33%;
    max-width: 33.33%;
    min-width: 33.33%;
  }
}